[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "bytemode.github.io"]
	path = bytemode.github.io
	url = git@github.com:bytemode/bytemode.github.io.git
